:root {
  --textgrey-color: #979797;
  --textwhite-color: #fcfcfc;
  --main-color: #F5F5F5;
  --black: #1f1f1f;
}

body {
  overflow-x: hidden;
}

/* Scroll Anim */

.anim.left {
  transform: translateX(-150%);
  filter: blur(10px);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.anim.right {
  transform: translateX(150%);
  filter: blur(10px);
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.anim.center {
  transform: translateY(5rem);
  filter: blur(10px);
  opacity: 0;
  transition: all 1s ease-in-out;
}

.anim.left.scrolled {
  transform: translateX(0);
  filter: blur(0px);
  opacity: 1;
  transition: all 1.5s ease-in-out;
}

.anim.right.scrolled {
  transform: translateX(0);
  filter: blur(0px);
  opacity: 1;
  transition: all 1.5s ease-in-out;
}

.anim.center.scrolled {
  transform: translateY(0);
  filter: blur(0px);
  opacity: 1;
  transition: all 1s ease-in-out;
}


/* END */

/* Scroll bar */
::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  padding: 1px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

/* END */


/* .content1 {
  background: linear-gradient(90deg, rgba(31, 31, 31, 1) 0%, rgb(61, 61, 61) 50%, rgba(31, 31, 31, 1) 100%);
} */


.typewritter {
  padding: 2rem;
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0px rgba(0, 0, 0, 0.37);
  border-radius: 30px; */
}

.typewritter h1,
.typewritter p {
  text-shadow: 8px 10px 18px #000000;
}

.content1 .start {
  color: var(--textwhite-color);
}
