:root {
    --main-color: #B17F59;
    --second-color: #A5B68D;
    --third-color: #C1CFA1;
    --fourth-color: #EDE8DC;
    --black: #2e2e2e;
}

html {
    scroll-behavior: smooth;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    padding: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--fourth-color);
    border-radius: 10px;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
    background-color: var(--fourth-color);
    border-bottom: 1px solid var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--main-color);
}

.navbar .navbar-nav a {
    color: var(--main-color);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--black);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.rem;
    border-bottom: 0.1rem solid var(--main-color);
    transform: scaleX(0);
    transition: all 200ms;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--black);
    font-size: 1.2rem;
}

.navbar .navbar-extra a:hover {
    color: var(--main-color);
}

#hamburger {
    display: none;
}

.gallery11 img, .gallery10 img {
    margin-bottom: 5rem;
}

.gallery11 h1 span, .gallery10 h1 span {
    color: var(--second-color);
}

.gallery10 h1, .gallery11 h1 {
    animation: scroll0 ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.gallery11 .kanan, .gallery10 .kanan {
    animation: scrollkanand ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.gallery11 .kiri, .gallery10 .kiri {
    animation: scrollkirid ease-in-out both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

/* keyframes */

@keyframes scrollkanand {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 100;
        transform: translateX(90%);
    }
}

@keyframes scroll0 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 100;
        transform: translateX(0%);
    }
}

@keyframes scrollkirid {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 100;
        transform: translateX(20%);
    }
}

/* Media queris max width */

@media (max-width: 768px) {
    #hamburger {
        display: inline-block;
        font-size: 25px;
        transition: 300ms;
    }

    .navbar .navbar-nav {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        box-shadow: 0 8px rgba(0, 0, 0, 0.37);
        position: absolute;
        top: 100%;
        right: -100%;
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: 500ms ease-in-out;
    }
    
    .navbar .navbar-nav a {
        font-size: 90%;
        margin-top: 2rem;
        color: var(--fourth-color);
    }
    
    .navbar .navbar-nav a:hover {
        color: var(--third-color);
    }   

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
        border-bottom: 0.1rem solid var(--fourth-color);
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .gallery11 .kanan, .gallery10 .kanan {
        animation: scrollkanan ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }
    
    .gallery11 .kiri, .gallery10 .kiri {
        animation: scrollkiri ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    @keyframes scrollkanan {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 100;
            transform: translateX(30%);
        }
    }
    
    @keyframes scrollkiri {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }
        to {
            opacity: 100;
            transform: translateX(-30%);
        }
    }
}